#container-nav{
    font-weight: bold;
}
.container-logo{
    display: flex;
    padding-left: 20px;
}
.container-logo h3{
    color:#419C7B;
}
.btn-custom{
   color:#419C7B;
   text-decoration:underline;
   margin-right: 5px;
}
.btn-custom:hover{
    background-color: #E6F6F0;
    border-radius: 10px;
    color:#419C7B;
}
.Drop-item:hover{
    font-weight: bold;
}
